:root {
  /* colors */
  --color-cyan-300: hsl(192, 90%, 77%);
  --color-cyan-600: hsl(192, 37%, 48%);
  --color-cyan-600-hover: hsl(192, 54%, 64%);
  --color-purple-300: hsl(268, 100%, 86%);
  --color-purple-600: hsl(268, 34%, 53%);
  --color-purple-600-hover: hsl(268, 55%, 71%);
  --color-slate-300: hsl(240, 18%, 85%);
  --color-slate-600: hsl(240, 10%, 57%);
  --color-slate-900: hsl(240, 21%, 20%);
  --color-white: hsl(0, 0%, 98%);
  /* typography */
  --font-family-base: 'Red Hat Display', sans-serif;
  --font-weight-base: 500;
  --font-weight-bold: 900;
  --font-size-base: 16px;
  --line-height-base: 1.5;
}

html {
  box-sizing: border-box;
  background-color: var(--color-white);
  color: var(--color-slate-900);
  font: var(--font-weight-base) var(--font-size-base) / var(--line-height-base)
    var(--font-family-base);
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  text-align: center;
}

ul {
  list-style-type: none;
}

.site-nav {
  display: flex;
  justify-content: center;
}

.site-logo {
  margin-top: 3rem;
  height: 1.75rem;
}

.hero {
  margin: 4rem auto 2rem auto;
}

.hero-image {
  height: 10rem;
  width: 100%;
  object-fit: cover;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin: 3rem 2rem 0;
}

.hero-title {
  font-size: 2.5rem;
  font-weight: var(--font-weight-bold);
  line-height: 1.1;
}

.hero-description {
  color: var(--color-slate-600);
}

.hero-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.btn {
  border: none;
  border-radius: 1.875rem;
  padding: 1rem 2.5rem;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: var(--font-weight-bold);
  cursor: pointer;
}

.btn-primary {
  background-color: var(--color-cyan-600);
  color: var(--color-white);

  &:hover {
    background-color: var(--color-cyan-600-hover);
  }

  & .version {
    color: var(--color-cyan-300);
  }
}

.btn-secondary {
  background-color: var(--color-purple-600);
  color: var(--color-white);

  &:hover {
    background-color: var(--color-purple-600-hover);
  }

  & .version {
    color: var(--color-purple-300);
  }
}

.site-main {
  padding: 2rem 2rem 4rem;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-slate-600);

  & .step-line {
    background-color: var(--color-slate-300);
    height: 5rem;
    width: 0.0625rem;
  }

  & .step-number {
    background-color: var(--color-white);
    height: 3.5rem;
    width: 3.5rem;
    border: 0.0625rem solid var(--color-slate-300);
    border-radius: 50%;
    padding-block: 1rem;
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    line-height: 1.375rem;
  }
}

.gallery {
  margin-block: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  & img {
    display: block;
    border-radius: 0.625rem;
    width: 100%;
  }
}

.main-subtitle {
  font-size: 0.75rem;
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.25rem;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--color-cyan-600);
}

.main-title {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  line-height: 1.1;
}

.main-description {
  margin-top: 2rem;
  color: var(--color-slate-600);
}

.footer-content {
  background: linear-gradient(rgba(77, 150, 168, 0.9), rgba(77, 150, 168, 0.9)),
    url('/assets/tablet/image-footer.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-top: -1.75rem;
  padding: 4rem 2rem;
  color: var(--color-white);
}

.footer-title {
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  line-height: 1.1;
}

.footer-description {
  font-size: 1rem;
}
