:root {
  /* colors */
  --color-cyan-300: hsl(192, 90%, 77%);
  --color-cyan-600: hsl(192, 37%, 48%);
  --color-purple-300: hsl(268, 100%, 86%);
  --color-purple-600: hsl(268, 34%, 53%);
  --color-slate-300: hsl(240, 18%, 85%);
  --color-slate-600: hsl(240, 10%, 57%);
  --color-slate-900: hsl(240, 21%, 20%);
  --color-white: hsl(0, 0%, 98%);
  /* typography */
  --font-family-base: 'Red Hat Display', sans-serif;
  --font-weight-base: 500;
  --font-weight-bold: 900;
  --font-size-base: 16px;
  --line-height-base: 1.5;
  --text-preset-1: var(--font-weight-base) 4rem / 1.1 var(--font-family-base);
  /* spacing */
  --spacing-50: 4px;
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 3rem;
  --spacing-700: 56px;
  --spacing-800: 64px;
  --spacing-900: 72px;
  --spacing-1000: 80px;
  --spacing-1400: 112px;
}

html {
  box-sizing: border-box;
  background-color: var(--color-white);
  color: var(--color-slate-900);
  font: var(--font-weight-base) var(--font-size-base) / var(--line-height-base)
    var(--font-family-base);
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-size: 1.125rem;
}

.site-nav {
  display: flex;
}

.site-logo {
  margin: var(--spacing-600) auto 0;
  height: 1.75rem;
}

.hero {
  margin: 4rem auto 2rem auto;
  text-align: center;
}

.hero-image {
  width: 100%;
  object-fit: cover;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin: 3rem 2rem 0;
}

.site-main {
  margin: 2rem 2rem 4rem;
}

.gallery-item img {
  width: 100%;
}

.site-footer {
  position: relative;
}

.footer-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  color: var(--color-slate-600);

  & .step-line {
    width: 0.0625rem;
    height: 5rem;
    background-color: var(--color-slate-300);
  }

  & .step-number {
    background-color: var(--color-white);
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    line-height: 1.5;
    text-align: center;
    border: 0.0625rem solid var(--color-slate-300);
    border-radius: 50%;
    padding-block: 1rem;
  }
}

.footer-content {
  margin-top: -1.75rem;
  background: linear-gradient(rgba(77, 150, 168, 0.9), rgba(77, 150, 168, 0.9)),
    url('/assets/tablet/image-footer.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 4rem 2rem;
  color: var(--color-white);
  text-align: center;
}

.footer-title {
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  line-height: 1.1;
}

.footer-description {
  font-size: 1rem;
  line-height: 1.5;
}

.btn {
  border: none;
  border-radius: 1.875rem;
  padding: 1rem 2.5rem;
  color: var(--color-white);
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  line-height: 1.5;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--color-cyan-600);

  &:hover {
    background-color: #71c0d4;
  }

  & .version {
    color: var(--color-cyan-300);
  }
}

.btn-secondary {
  background-color: var(--color-purple-600);

  &:hover {
    background-color: #b18bdd;
  }

  & .version {
    color: var(--color-purple-300);
  }
}
